* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #548687;
  text-align: center;
  font-family: 'Arial', sans-serif;
}

.container {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game {
  height: 60vmin;
  width: 60vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5vmin;
}

.box {
  height: 18vmin;
  width: 18vmin;
  border-radius: 1rem;
  border: none;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
  font-size: 8vmin;
  color: #b0413e;
  background-color: #ffffc7;
}

#reset-btn {
  padding: 1rem;
  font-size: 1.25rem;
  background-color: #191913;
  color: #fff;
  border-radius: 1rem;
  border: none;
  margin-top: 1rem;
}

.player-names {
  margin-bottom: 1rem;
}

.player-names label {
  display: block;
  margin-bottom: 0.5rem;
  color: #fff;
}

.player-names input {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #191913;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

#current-player-name {
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.msg-container {
  height: 100vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
}

.hide {
  display: none;
}
